.container {
    display: flex;
}

.sidebar {
    background-color: var(--color-ui-dark);
    flex: 1 1 15%;
}

.main-content {
    background-color: var(--color-ui-mid);
    flex: 1 1 85%;
}

.header {
    padding: 2rem;
}